Lecture_3
Lecture_4
Tutorial_3
Extra_Tutorial_1
Home_Assignment
Lecture_2/deviance.pdf
Lecture_2/logistic_function.ipynb
Lecture_2/regression.pdf
Lecture_2/spotify.ipynb
Lecture_2/.ipynb_checkpoints
Lecture_2/Lecture_2.ipynb
Lecture_2/spam.ipynb
