Lecture_3/Lecture_3.ipynb
Lecture_3/Melbourne_housing_FULL.csv
Lecture_3/MELBOURNE_HOUSE_PRICES_LESS.csv
Lecture_3/.ipynb_checkpoints
Lecture_4/.ipynb_checkpoints
Lecture_4/*.pdf
Lecture_4/current_M.csv
Lecture_4/airline.csv
Lecture_4/Tuorial_1.ipynb
Lecture_4/Lecture_4.ipynb
Lecture_2/deviance.pdf
Lecture_2/regression.pdf
Lecture_2/slides.pdf
Lecture_2/.ipynb_checkpoints
Lecture_5/plot_multicollinearity_notes.ipynb
Lecture_5/*.pdf
Tutorials/Extra_Tutorial_1
Tutorials/Tutorial_3
Tutorials/Tutorial__1/Lecture_2.ipynb
Tutorials/Tutorial__2
Tutorials/Tutorial__3
Tutorials/Tutorial__4
Lecture_2/Lecture_2.ipynb
Lecture_4
Lecture_5
Lecture_6
Lecture_7
*.xlsx
Syllabus*
Midterms
Home_Assignment
